/*
header .barraNaranja{
    background: #ff581a;
    overflow: hidden;
    display: block;
    padding: 9px 0px 9px 0px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

header .barraNaranja .de i, header .barraNaranja .de a{
    color: black;
    padding-left: 20px;
    font-size: 40px;
    float: right;
    margin-right: 18px;

}

header .barraNaranja .iz i, header .barraNaranja .iz a{
    color: black;
    margin-left: 18px;
    font-size: 35px;
    float: left;
}

header .barraNaranja .iz i{
    padding-right: 15px;
}

header .barraBlanca h1{
    text-align: center;
}

section #fondo {
	background-image: url(https://static9.depositphotos.com/1066655/1106/i/950/depositphotos_11062315-stock-photo-donuts.jpg);
	padding: 50px 50px 50px 50px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

#fondo .contenido {
	color: #fff;
	position: relative
}

#fondo .contenido{
    margin-left: 10px
}

#añadirMenu, #modificar_plato{
    display: flex;
    border-bottom: dotted;
    padding-bottom: 100px;
    border-color: #ff581a;
}

#añadirMenu, #modificarPlato{
    display: flex;
}

#imagen12{
    width: 250px;
    border-radius: 25px;
   
}

#imagenPlato2, #imagen{
    margin-right: 100px;
}

#añadir, #añadir2{
    margin-left: 100px;
    padding-top: 100px;
}

#nombre_plato-arr, #descripcionPlato{
    padding: 20px 50px 30px 20px;
    border-color: black;
    border-radius: 15px;
}


button{
    background-color: white;
    border-color: black;
    border-radius: 15px;
    border-top: none;
    border-left: none;
    font-size: 15px;
}
#añadir_menu1, #comprobar_datos1{
    size: 10px;
    
}

#modificarPlato{
    padding-top: 20px;
    padding-bottom: 100px;
}


#imagen{
    width: 250px;
    border-radius: 25px;
   
}

#imagen2{
    margin-right: 100px;
}

#añadir2{
    margin-left: 100px;
    padding-top: 100px;
}

#nombrePlato2, #descripcionPlato2{
    padding: 20px 50px 30px 20px;
    border-color: black;
    border-radius: 15px;
}



#descripcionP{
    margin-left: -100px;
}



footer{
    text-align: center;
    background: #ff581a;
    padding: 10px 0px 10px 0px;
}
*/
