li{
    display: inline;
    margin-left: 120px;
    margin-right: 120px;
    color: white;
}
#principal{
    margin-left: 25px;
}
nav{
    background-color: #ff581a;
}
#primero{
    margin-left: 50px;
    width: 45%;
    margin-right: 50px;

}
#segundo{
    margin-left: 850px;
    margin-top: -497px;
    margin-right: 50px;

    
}
div{
    border-style: dashed;
    border-color: #ff581a;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
button{
    border-top: none;
    border-left: none;
    border-color: #ff581a;
    background-color: white;
    border-radius: 9px;
}
#eliminar_usuario, #editar_plato, #descargar_info{
    margin-left: 50px;
    margin-right: 50px;
}