body{
<<<<<<< Updated upstream
    background-image: url(static\img\DISEÑO_PAGINA_WEB\backmenu.jpg);
=======
    background-image: url(/static/img/DISEÑO_PAGINA_WEB/MENUbac.jpg) ;
>>>>>>> Stashed changes
    background-size: 100%;
}
/*Barra de navegación*/
nav{
    background-color: #ff581a;
    margin-top: -10px;
    margin-left: -10px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-right: -10px;

}
#menu,#login,#lista_deseos,#carrito_compra, #salida{
    margin-top: 5px;    
}
figure,#titulo_menu,#titulo_lista_deseos,#titulo_carrito_compra{
    display: inline;
}
a, h1{
    font-size: 25px;
}
h2{
    font-size: 15px;
}
#Menu{
    padding-left: 0px;
    margin-left: 0%;
}
a:hover{
    color: aqua;
}
a:active{
    color: black;
}
a, nav{
    color: white;
}
#titulo_menu{
    margin-right: 10px;
}
a {
    text-decoration: none;
}
#Menu{
    margin-right: 400px;
}

/*CUERPO PAGINA*/
section{
    padding-left: 250px;
}
#T1_TORTAS{
    margin-top: -5px;
}
h2{
    margin-top: -15px;
}
p{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 190px;
    margin-top: -130px;
}
pre{
    margin-top: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    margin-bottom: 160px;
}

#T_tiramisu{
    margin-top: 90px;
}

#Columna_2{
    margin-left: 750px;
    margin-top: -752px;
}
#torta_vainilla{
    margin-bottom: 10px;
}
#T2_maracuya, #T_torta_vainilla{
    margin-top: -2px;
}
#T2_maracuya{
    margin-top: -5px;
}
#Des_maracuya{
    margin-top: -5px;
}
#PANADERIA{
    margin-top: -50px;
}
#Des_pan_frances{
    margin-bottom: 500px;
}
#REPOSTERIA{
    margin-top: -40px;
}
#T2_macarrons{
    margin-top: -85px;
}
#DONAS{
    margin-top: -25px;
}
#Bebidas_frias{
    margin-top: -15px;
}
#T2_ice{
    margin-top: -30px;
}
#T2_Te_manzanilla{
    margin-top: -50px;
}
#footer{
    font-size: 12.4px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff581a;
    margin-top: 10px;
    padding-left: 650px;
    margin-left: 0px;
    color: white;

}