<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME ADMIN</title>
        <link rel="stylesheet" href="static\css\style_admin.css">
    </head>
    <body>
        <nav>
            <ul>
                <li id="principal">
                <img src="static\img\DISEÑO_PAGINA_WEB\menu copia.png" alt="" width="25" height="25">
                    TIPO DE VISTA ADMINISTRADOR
                </li>
                <li>REVISION COMENTARIOS</li>
                <li>REVISION PAGOS</li>
            </ul>
        </nav>
        <!--Creacion Calendarios que son usados como filtro para las graficas que se necesitan
        mostrar al Admin-->
        <form action=""><!--Diagrama Parte Izquierda-->
            <div id="primero">
                <label for="Calendario_Pedidos">
                    <span>Fecha Inicio</span>
                    <input type="date" id="Calendario_Pedidos" name="Caledario_Pedidos">
                </label>
                <label for="Calendario_Pedidos_salida">
                    <span>Fecha Fin</span>
                    <input type="date" id="Calndario_Pedidos_salida" name="Calendario_Pedidos_salida">
                </label>
                <input type="submit">
                <br><br>
                <img src="static\img\DISEÑO_PAGINA_WEB\grafica_lineas.png" alt="" width="350" height="350">
                <button id="primer_boton">GENERAR RESULTADOS</button>
            </div>
            <br>
            <br><br><br>
            <div id="segundo">
                <label for="Calendario_Ventas"><!--Diagrama Parte Dercha-->
                    <span>Fecha Inicio</span>
                    <input type="date" id="Calendario_Ventas" name="Calendario_Ventas">
                </label>
                <label for="Calendario_Ventas_salida">
                    <span>Fecha Fin</span>
                    <input type="date" id="Calendario_Ventas_salida" name="Calendario_ventas_salida">
                </label>
                <input type="submit"><!--Sirve para enviar informacion a la base de datos-->
                <br><br>
                <img src="static\img\DISEÑO_PAGINA_WEB\grafica-de-barras.png" alt="" width="350" height="350">
                <button id="segundo_boton">GENERAR RESULTADOS</button>
            </div>
            <div id="eliminar_usuario">
                <h1>Eliminar Usuario</h1>
                <label for="cedula">
                    <span>Cedula:</span>
                    <input type="number" id="cedular" placeholder="000058916" name="cedula" required>
                </label>
                <button>Eliminar</button>
                <button>Desbloquear</button>
            </div>
            <div id="editar_plato">
                <h1>Editar Plato</h1>
                <label for="Nombre">
                    <span>Nombre:</span>
                    <input type="name" id="nombre" placeholder="Felipe" name="nombre" required>
                </label>
                <button>Eliminar</button>
                <button>Modificar</button>
                <button>Añadir</button>
            </div>
            <div id="descargar_info">
                <h1>Descargar Información Lista de Deseos</h1>
                <button>Descargar</button>
            </div>
        </form>

    </body>
</html>