<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME ADMIN</title>
        <link rel="icon" type="image/png" href="../static/img/icon.png">
        <link rel="stylesheet" href="/static/css/style_admin.css">

    </head>
    <body>
    {% with mensajes= get_flashed_messages() %}
    {% if mensajes %}
    {% for mensaje in mensajes %}
        <p>{{ mensaje }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
        
        <nav id="nav">
            <ul>
                <li id="principal">
                <img src="/static/img/DISEÑO_PAGINA_WEB/menu copia.png" alt="" width="25" height="25">
                    TIPO DE VISTA ADMINISTRADOR
                </li>
                <li>
                    <a href="/revisionComentarios">Comentarios</a>
                </li>
                <li>
                    <a href="/pagosAdmin">Pagos</a>
                </li>
                <li>
                    <a href="/home2">Vista Usuario</a>
                </li>
            </ul>
        </nav>
        <!--Creacion Calendarios que son usados como filtro para las graficas que se necesitan
        mostrar al Admin-->
        <section id="parte1">
            <form action="/eliminar_usuario" method="POST" id="Usuario_final" class="Usuario_final"><!--ACA SE ENERA EL PROBLEMA-->
                <div id="eliminar_usuario">
                    <h1>Usuario</h1>
                    <label for="cedula">
                        <span>Cedula:</span>
                        <input type="text" name="cedula" id="cedula" placeholder="000058916" name="cedula" required>
                    </label>
    
                    <button action="/eliminar_usuario" type="submit">Eliminar</button>
                    <button> <a href="/desbloquear_usuario"> Desbloquear</a></button><!--falta hacer esta pestaña para quede mejor el desbloqueo actualizando la contraseña-->
                </div>
            </form>
        </section>
        <section id="parte2">
            <form action="/eliminar_plato" method="POST" id="Edicion_Pla" class="Edicion_Pla">
   
                <div id="editar_plato">
                    <h1>
                        Editar Platos
                    </h1>
                        <label for="ID_PRODUCTO">
                            <span>Id Producto</span>
                            <input type="name" id="IDproducto1" name="IDproducto1" placeholder="125336" required>
                        </label>
                        <button type="submit">Eliminar</button> <!--CONEXION A BASE DE DATOS-->
                        <button id="Modificar_Plato">
                            <a href="/edicionPlatos">Modificar</a></button><!--ESTE ES PARA EDITAR PLATO-->
                </div>
                
            </form>
        </section>
 
        <footer>
            <div class="footer">
                <p>Grupo 17 Equipo 4 - Universidad del Norte</p>
            </div>
        </footer>
        
    </body>
</html>