<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion del producto</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/estiloDescripcionProducto.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
</head>
<body>
    <header>
        <div class="barraNaranja">
            <div class="iz">
                <a href=""><i class="fas fa-bars"></i> Menu</a>
            </div>

            <div class="de">
                <a href=""><i class="fas fa-user-circle"></i> Ingresar</a>
                <a href=""><i class="far fa-heart"></i> Lista de deseos</a>
                <a href="/carritoDecompras"><i class="fas fa-shopping-cart"></i> Carrito de compras</a>
            </div>
                    
                      
        </div>

        <div class="barraBlanca">
            <nav>
                <ul>
                    <li><a href="#">DONAS</a></li>
                    <li><a href="#">PANADERIA</a></li>
                    <li><a href="#">REPOSTERIA</a></li>
                    <li><a href="#">TORTAS</a></li>
                    <li><a href="#">PONQUES</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>

        <div id = "fondo" >
            <div class="general">
                <div class="contenido">
                    <div class="imagen">
                        <img src="static/img/donaOreo.jpg" alt="">
                    </div>
    
                    <div class="descripcion">
                        <h1>Donut de chocolate</h1>
                        <p>Donut relleno de chocolate blanco, cubierta
                         con chocolate negro y trozos de galleta Oreo</p>
                         <p>Nueva Oferta de Productos No promocional OREO:
                        Donuts Premium con trozos de galleta Oreo por
                        $4000, Iced Dunkalatte (16 Oz) con trozos de
                        galleta Oreo por $6.000 y Dunkaccino (10 Oz) por 
                        $6.000, precios con impuestos incluidos...</p>
                        <h2> $ 4000 </h2>
    
                    </div>
                </div>
                
                <div class="contenido2">
                    <div class="lizquierdo">
                        <div class="anadir">
                            <button>Añadir a lista de deseos <i class="far fa-heart"></i> </button>
        
                            <div class="agregar">
                                <button>+</button>
                                <input type="text" name="" id="" size="1">
                                <button>-</button>
                            </div>
                        </div>

                        <h1>Comentarios</h1>
                        <input type="text" size="35" id="comentarios">
                        <button id="publib">Publicar</button>
                    </div>
        
                    <div class="lderecho">
                        
                        <div class="pagar">
                            <button>Pagar</button>
                            <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
                        </div>
        
                       
                        <div class="publicidad">
                            <div class="p1">
                                <a href="">
                                    <img src="static/img/donasVainilla.jpg" alt="" id="donaVainilla">
                                    <h1> Dona de vainilla </h1>
                                </a>   
                            </div>

                             <div class="p2">
                                 <a href="">
                                    <img src="static/img/donasFresa.jpg" alt="" id="donaFresa">
                                    <h1> Dona de fresa </h1>
                                 </a>
                             </div>
                            
                             
                        </div>
                            
                                 
                        

                    </div>
                    
        
                </div>
            </div>
            
        </div>            
    </section>
    <footer>
        <p><span>Grupo 17 equipo 4 Univesidad del norte</span></p>
    </footer>    
</body>
</html>