<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listaDeseos</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/estiloDeseos.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
<head>

<body>

    <header>
            <div class="encabezado">
                <div class="menu">
                    <a href=""><img src="static/img/menu.png" alt="">MENÚ</a>
                </div>
                    <div class="login">
                        <a href="">Ingresa<img src="static/img/login.png" alt=""></a>
                    </div> 
                    <div class="deseos">
                        <a href="">Lista de deseos<img src="static/img/deseos.png" alt=""></a>
                    </div>  
                <div class="carrito">
                    <a href="">Carrito<img src="static/img/carrito.png" alt=""></a>
                </div> 
            </div>                    
    </header>

    <section>
        <div class="titulo">
            <h1>TU LISTA DE DESEOS</h1>
        </div>                             
            <div class="marco">           
                <li><a href="#">Donuts de chocolate</a></li>
                <li><a href="#">Donuts especial</a></li>
                <li><a href="#">Donuts de vainilla</a></li>
                <li><a href="#">Donuts super</a></li>
                <li><a href="#">Donuts Donuts</a></li>
                <li><a href="#">Mister Donuts</a></li>
            </div>
      
            <div class="descripcion">
                <img src="static/img/donaOreo.png" alt="">
                <div class="nombre">
                    </h1>Donuts de chocolate    $ 4.000</h1>
                </div>
                <div class="detalle">
                    <p>Donut relleno de chocolate blanco, cubierta
                    con chocolate negro y trozos de galleta Oreo</p>
                </div>
            </div>
        <div class="pagar">
            <a href=""><img src="static/img/pagar.png"  alt=""></a>
        </div> 
        <div class="agregar">
            <a href=""><img src="static/img/agregar.png"  alt=""></a>
        </div>
            <div class="cantidad"> 
                <button>+ </button>
                <input type="text" size="1" id="cantidad">
                <button> -</button>
                <div><button>Eliminar</button></div>
            </div> 
        <div class="comentarios">
            <div></h2><strong>Comentarios</strong></h2></div>
            <textarea name="comentarios" rows="4" cols="52"></textarea>
            <div><button id="publib">Enviar</button></div>
        </div>                             

    </section>
    <footer>
        <p>
            Grupo 17 Equipo 4 Universidad del Norte
        </p>
    </footer>

</body>
</html>
