<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/estiloDeseos.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
    <link rel="icon" type="image/png" href="../static/img/icon.png">

    </script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href={{ url_for('static', filename='css/sweetalert2.min.css') }}>


    <title>listaDeseos</title>

</head>

<body>
    <header>
       <div class="menu">
            <a href="/menu"><i class="fas fa-bars"></i> Menú</a>
       </div>
       <div class="login">
             <a href="/login" class="link_login">Ingresa <i class="fa fa-user-circle"aria-hidden="true"></i></a>
       </div>
       <div class="deseos">
             <a href="#listaDeseos" class="link_wish_list">Lista de deseos <i class="fa fa-heart"aria-hidden="true"></i></a>
       </div>
       <div class="carrito">
             <a href="/carritoDeCompras" class="link_shopping_cart">Carrito de compras <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
       </div>         
    </header>

    <br>
    <main>
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <div class="barraBlanca">
            		    <h1><span>Mi lista de Deseos</span> <i class="fa fa-heart"></i> </h1>
        	        </div>
                    
                   

                    <form id="procesar-pago" action="#" method="post">
                        <div id="carrito" class="form-group table-responsive" >
                            <table class="table" id="lista-compra" >
                                <thead>
                                    <tr>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead> 
                                <tbody >   
                            
                                </tbody>
                           
                                <!-- LINEA PARA AGREGAR subtotal NO QUISE COMPLICARME MAS
                                <tr>
                                    <th colspan="4" scope="col" class="text-right"></th>
                                        <th scope="col">
                                            <p id="subtotal"></p>
                                        </th>
                                    </th>    
                                </tr> 
                                           LINEA PARA AGREGAR IVA NO QUISE COMPLICARME MAS   
                                <tr>
                                    <th colspan="4" scope="col" class="text-right">IVA :</th>
                                        <th scope="col">
                                            <p id="iva"></p>
                                        </th>
                                    <th scope="col"></th> 
                                </tr>   
                            
                                <tr>
                                    <th colspan="4" scope="col" class="text-right">TOTAL :</th>
                                    <th scope="col">
                                    <input id="total" name="monto" size=10 class="font-weight-bold border-0" readonly style="background-color: white;"></input>
                                    </th>                                    
                                </tr>       -->
                            </table>
                        </div>
                                 <!-- ESTA ANIMACION SE DETIENE 
                        <div class="row justify-content-center" id="loaders">
                            <img id="cargando" src="static/img/cargando.gif" width="220">
                        </div>  -->

                        <div class="row justify-content-between">
                            <div class="col-md-4 mb-2">
                                <a href="/menu" class="btn btn-info btn-block">Volver al menú</a>
                            </div>
                        <!--    <div class="col-xs-12 col-md-4">
                                    <button href="#" class="btn btn-success btn-block" id="procesar-compra">Pagar</button>
                                </div>  -->
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </main>

    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>


    <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
    <script src="{{ url_for('static', filename='js/compra.js') }}"></script>

    <footer>
        <p>Grupo 17 Equipo 4 Universidad del Norte</p>
    </footer>
      
</body>
   
</html>