<!DOCTYPE html>
<html lang="es">
    <head>
        <title>LOGIN USUARIO</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static\css\style_login.css">
    </head>
    <body id="cuerpo">
        
        <header>
            <section>
                <div id="T1_pagina_G">
                    <h1>
                        <pre>DUCK 
DONUTS</pre> </h1>
                </div>
                <div id="T2_Login">
                    <h2>LOGIN</h2>
                </div>
            </section>
        
        </header>
        <figure id="imagen">
            <img src="static\img\DISEÑO_PAGINA_WEB\DONA.jpg" alt="fondo de pantalla" width="1000" height="850">
        </figure>
        <form action="" id="cuestionario_ingreso">
            <label for="nickname">
                <span>Nickname:</span>
                <input type="text" id="nickname" placeholder="Raton_Peres65" required>
            </label>
            <br>
            <label for="Contraseña">
                <span>Contraseña</span>
                <input type="password" id="Contraseña" required>
            </label>
        </form>
        <br>
        <button type="submit" id="Boton_ingreso">Ingresar</button>
        <br>
        <pre id="Mensaje_usuario">¿Aun no tienes usuario?
Registrate con nosotros y has tus pedidos
        </pre>
        <button type="submit" id="Boton_Registro">Registrarse</button>

        <footer id="parte_inferios">
            <nav id="creditos">
                <p id="cred_footer"> Grupo 17 Equipo 4</p>
            </nav>
        </footer>
    </body>

</html>