<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <link rel="stylesheet" href={{ url_for('static', filename='css/estilomenu.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
    
    </script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
    <link rel="icon" type="image/png" href="../static/img/icon.png">

    <link rel="stylesheet" href={{ url_for('static', filename='css/sweetalert2.min.css') }}>
   
</head>

<body>

    <header>
        <div class="barramenu">
            <div class="menu">
                <a href="#menu"><i class="fas fa-bars"></i> Menú</a>
            </div>
             <div class="login">
                <a href="/login" class="link_login">Ingresa <i class="fa fa-user-circle"aria-hidden="true"></i></a>
            </div>
            <div class="deseos">
                <a href="/listaDeseos" class="link_wish_list">Lista de deseos <i class="fa fa-heart"aria-hidden="true"></i></a>
            </div>
            <div class="carrito">
                <a href="/carritoDeCompras" class="link_shopping_cart">Carrito de compras <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </div> 
        </div>
    </header>
               
    <section>                    
        <div class="category_list">
            <ul>
                <li><a href="menu" class="">TODO</a></li>
                    <li><a href="#" class="category_item" category="donuts">DONUTS</a></li>
                    <li><a href="#" class="category_item" category="panaderia">PANADERIA</a></li>
                    <li><a href="#" class="category_item" category="reposteria">REPOSTERIA</a></li>
                    <li><a href="#" class="category_item" category="tortas">TORTAS</a></li>
                    <li><a href="#" class="category_item" category="bebidas">BEBIDAS</a></li>
                <li><a href="#" class="category_item" category="combos">COMBOS</a></li>
            <ul>
        </div> 

        <div class="titulo">
            <h1>LISTADO DE PRODUCTOS DEL MENU</h1>
        </div>
                       
        <div id="carrito" class="dropdown-menu" aria-labelledby="navbarCollapse">
            <table id="lista-carrito" class="table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <a href="#" id="procesar-pedido" class="btn btn-danger btn-block">Pagar</a>
        </div> 

        <main>
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">
                <h1 class="display-4 mt-4"></h1>
            </div>
                    
            <div class="container" id="lista-productos">
                <div class="card-deck mb-3 text-center">
                    
                    <div class="donuts">
                        <div class="card mb-4 shadow-sm">   
                            <div class="product-item" category="donuts">
                                <h4 class="my-0 font-weight-bold">DONA  DE  VAINILLA</h4>
                                <div class="card-body">    
                                    <img src="static\img\1.1 dona rellena vainilla.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">4000</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Deliciosas Donas Rellenas</li>
                                        <li>de salsa de vainilla...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="1">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div> 

                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="donuts">
                                <h4 class="my-0 font-weight-bold">DONA CHOCOLATE</h4>
                                <div class="card-body">    
                                    <img src="static\img\1.2 dona rellena.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">4500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Deliciosa Dona rellena</li>
                                        <li> de Chocolate</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="2">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                     
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="donuts">
                                <h4 class="my-0 font-weight-bold">DONUT DE COCO</h4>
                                <div class="card-body">    
                                    <img src="static\img\1.3 coco donut.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">3500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Cremoso glaseado de leche </li>
                                        <li>de coco saludable...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="3">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                    </div>

                    <div class="panaderia">
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="panaderia">
                                <h4 class="my-0 font-weight-bold">PAN ARTESANAL</h4>
                                <div class="card-body">    
                                    <img src="static\img\2.1 pan artesanal.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">2500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Delicioso pan artesanal </li>
                                        <li>con uvas pasas...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="4">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div> 
                    
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="panaderia">
                                <h4 class="my-0 font-weight-bold">PAN FRANCES</h4>
                                <div class="card-body">    
                                    <img src="static\img\2.2 pan frances.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">2500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Deliciosos mini Ponques de</li>
                                        <li>vainilla, chocolate, y fresa...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="5">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div> 

                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="panaderia">
                                <h4 class="my-0 font-weight-bold">PAN INTEGRAL</h4>
                                <div class="card-body">    
                                    <img src="static\img\2.3 pan integral.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">2500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Delicioso moffin de chocolate</li>
                                        <li>con una cereza...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="6">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                    </div>

                    <div class="reposteria">
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="reposteria">
                                <h4 class="my-0 font-weight-bold">MACARRONS</h4>
                                <div class="card-body">    
                                    <img src="static\img\3.1 macarons.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">2500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Deliciosos macarrons sabor a</li>
                                        <li>fresa, chocolate y vanilla...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="7">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>

                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="reposteria">
                                <h4 class="my-0 font-weight-bold">PANQUEQUES</h4>
                                <div class="card-body">    
                                    <img src="static\img\3.2 panqueques.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">5000</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Deliciosos panqueque con</li>
                                        <li>fresa y salsa de chocolate...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="8">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                    
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="reposteria">
                                <h4 class="my-0 font-weight-bold">MOFFIN CHOCOLATE</h4>
                                <div class="card-body">    
                                    <img src="static\img\3.3 mofin de chocolate.jpg" alt=""width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">6500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Delicioso moffin de chocolate</li>
                                        <li>con una cereza...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="9">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                    </div>

                    <div class="tortas">
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="tortas">
                                <h4 class="my-0 font-weight-bold">TORTA ESPECIAL</h4>
                                <div class="card-body">    
                                    <img src="static\img\4.1 torta especial.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">30000</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Torta de San Valentine</li>
                                        <li> para 15 personas...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="10">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>

                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="tortas">
                                <h4 class="my-0 font-weight-bold">PIE MARACUYA</h4>
                                <div class="card-body">    
                                    <img src="static\img\4.2 pie de maracuya.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">2500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Delicioso Pie de Maracuya</li>
                                        <li>en salsa de maracuya...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="11">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                    
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="tortas">
                                <h4 class="my-0 font-weight-bold">TORTA DE CHOCOLATE</h4>
                                <div class="card-body">    
                                    <img src="static\img\4.3 torta de chocolate.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">3500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Torta de Chocolate con</li>
                                        <li>dos capas...</li>
                                    </ul> 
                                    <a href="/PIE_DE_MARACUYA" class="btn btn-block btn-primary agregar-carrito" data-id="12">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                    </div>

                    <div class="bebidas">
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="bebidas">
                                <h4 class="my-0 font-weight-bold">ICED COFFEE</h4>
                                <div class="card-body">    
                                    <img src="static\img\5.1 iced coffe.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">3000</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Delicioso y refrescante</li>
                                        <li> café con hielo...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="13">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>

                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="bebidas">
                                <h4 class="my-0 font-weight-bold">MALTEADA</h4>
                                <div class="card-body">    
                                    <img src="static\img\5.2 malteada chocolate.jpg" alt=""  width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">5500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Deliciosa malteada con helado</li>
                                        <li> y chispas de chocolate...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="14">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>

                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="bebidas">
                                <h4 class="my-0 font-weight-bold">CHOCOLATE CALIENTE</h4>
                                <div class="card-body">    
                                    <img src="static\img\5.3 chocolate-caliente.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">3500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Delicioso Chocolate caliente</li>
                                        <li>con malvaviscos...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="15">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                    </div>

                    <div class="combos">
                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="combos">
                                <h4 class="my-0 font-weight-bold">COMBO DUKCHOCO</h4>
                                <div class="card-body">    
                                    <img src="static\img\6.1 combo choco.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">6500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Donut de vainilla mas una </li>
                                        <li>taza de Chocolate caliente...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="16">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>

                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="combos">
                                <h4 class="my-0 font-weight-bold">COMBO DUKORANGE</h4>
                                <div class="card-body">    
                                    <img src="static\img\6.2 donut+jugo naranja.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">6000</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Donut de chocolate mas un</li>
                                        <li>vaso de jugo de naranja pura...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="17">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>

                        <div class="card mb-4 shadow-sm">
                            <div class="product-item" category="combos">
                                <h4 class="my-0 font-weight-bold">COMBO DUKCOFFEE</h4>
                                <div class="card-body">    
                                    <img src="static\img\6.3 combo coffee.jpg" alt="" width="260" height="180" class="card-img-top">
                                    <h1 class="card-title pricing-card-title precio">$ <span class="">6500</span></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Donut de chocolate mas una </li>
                                        <li>taza de cafe con leche...</li>
                                    </ul> 
                                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="18">Añadir a Lista de Deseos</a>
                                </div> 
                            </div> 
                        </div>
                    </div>    
                </div>
            </div>
        </main>
    </section>

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pedido.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    


    <footer>
        <p>Grupo 17 Equipo 4 Universidad del Norte</p>
    </footer>

</body>
</html>