<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/estiloPagosUsuario.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
</head>
<body>
    <header>
        <div class="barraNaranja">
            <div class="iz">
                <a href="/menu"><i class="fas fa-bars"></i> Menu</a>
            </div>

            <div class="de">
                <a href="/home2"><i class="fas fa-user-circle"></i> Mi cuenta</a>
                <a href=""><i class="far fa-heart"></i> Lista de deseos</a>
                <a href="/carritoDecompras"><i class="fas fa-shopping-cart"></i> Carrito de compras</a>
            </div>             
        </div>
    </header>
    <section>
        <div class="pagos">
            <div class="tiposPagos">
                <H1>¿Como quieres pagar?</H1>
                <br>
                <div>
                    <input type="radio"> Tarjeta de credito
                </div>
                <br>
                <div>
                    <input type="radio"> Transferencia desde tu banco con pse
                </div>
                <br>
                <div>
                    <input type="radio"> Domicilio contra entrega
                </div>

                <div id="pagar">
                    <button>Continuar con el pago</button>
                </div>
                

            </div>

            <div class="productos">
                <div class="descripcion">
                    <h3 id="d">descripcion</h3>
                    <h3 id="c">Cant</h3>
                    <h3 id="v">Valor</h3>
                </div>
                <div class="producto1">
                    <div class="descrip">
                        <img src="static\img\donaOreo.jpg" alt="" id="dona">
                        <p>Donut de chocolate
                        relleno con arequipe
                        </p>
                    </div>
                   
                    
                    <h2 id="cant">2</h2>
                    <h2 id="preci">$ 4000</h2>

                    
                </div>

                <div id="total">
                    <h1>En total pagas $4000</h1>
                </div>
            </div>
        </div>

        <div id="publicidad">
            <img src="static\img\donaOreo.jpg" alt="" id="donaPublicidad">
            <p>Nueva Oferta de Productos No promocional OREO: Donuts Premium con trozos de galleta Oreo por $4000, 
            Iced Dunkalatte (16 Oz) con trozos de galleta Oreo por $6.000 y Dunkaccino (10 Oz) por $6.000, precios 
            con impuestos incluidos...</p>
        </div>
    </section>
    <footer>
        <p><span>Grupo 17 equipo 4 Univesidad del norte</span></p>
    </footer>
    
</body>
</html>