<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Admin</title>
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href={{ url_for('static', filename='css/estiloPagosAdmin.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
</head>
<body>
    <header>
        <div class="barraNaranja">
            <div class="titulo">
                <h1>PAGOS</h1>
            </div>

            <a href="/admin"> <!--se coloca el home de admin-->
                <div class="icono">
                    <i class="fas fa-user-circle"></i>
                </div>
            </a>
            
        </div>
    </header>
    <section >
        <table>
            <thead>
                <tr>
                    <td>FECHA</td>
                    <td>ID PEDIDO</td>
                    <td>CEDULA USUARIO</td>
                    <td>PRODUCTO</td>
                    <td>TOTAL PAGO</td>
                    <td>VALOR CANCELADO</td>
                    <td>ESTADO</td>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos%}
                <tr>
                    <td>{{ pago.0 }}</td>
                    <td>{{ pago.1 }}</td>
                    <td>{{ pago.2 }}</td>
                    <td>{{ pago.3 }}</td>
                    <td>{{ pago.4 }}</td>
                    <td>{{ pago.5 }}</td>
                    <td>{{ pago.6 }}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        
    </section>
    <footer>
        <div class="footer">
            <p>Grupo 17 Equipo 4 - Universidad del Norte</p>
        </div>
    </footer>   
</body>
</html>