<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Admin</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/estiloPagosAdmin.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
</head>
<body>
    <header>
        <div class="barraNaranja">
            <div class="titulo">
                <h1>PAGOS</h1>
            </div>

            <a href="/admin"> <!--se coloca el home de admin-->
                <div class="icono">
                    <i class="fas fa-user-circle"></i>
                </div>
            </a>
            
        </div>

        <div class="blanca1">
            <label for="numeroPedido">N°Pedido</label>
            <input type="text">
            <div class="lupa">
                <button>
                    <i class="fas fa-search"></i> Buscar
                </button>
            </div>
            
            <button class="exp">Exportar pedido</button>
        </div>

        <div class="blanca2">
            <input type="date" name="inicio" id="finicio">
            <input type="date" name="fin" id="ffin">
        </div>
    </header>
    <section >
        <table>
            <thead>
                <tr>
                    <td>FECHA</td>
                    <td>ID PEDIDO</td>
                    <td>PRODUCTO</td>
                    <td>PAGO ELECTRONICO</td>
                    <td>VALOR TOTAL</td>
                    <td>VALOR CANCELADO</td>
                    <td>ESTADO</td>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        
    </section>
    <footer>
        <p><span>Grupo 17 equipo 4 Univesidad del norte</span></p>
    </footer>    
</body>
</html>