<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunk Donuts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styleRegistroUsuario.css">
</head>
<body>
    <div class="container">
        <section class="left_section">
            <div class="logo">
                <figure>
                    <a href="/">
                        <img src="../static/img/logo.png" alt="logo">
                    </a>                    
                </figure>
            </div>
            <div>
                <form class="formulario" action="" method="post" onsubmit="return validar_formulario_registro()">
                    <h2>REGÍSTRATE</h2>
                    <div class="form_container">
                        <div class="input_container">
                            <i class="fa-solid fa-user icon"></i>
                            <input type="text" placeholder="Nombres" name="nombres" id="nombres">
                        </div>
                        <div class="input_container">
                            <i class="fa-solid fa-user icon"></i>
                            <input type="text" placeholder="Apellidos" name="apellidos" id="apellidos">
                        </div>
                        <div class="input_container">
                            <i class="fa-solid fa-id-card icon"></i>
                            <input type="text" placeholder="Cédula" name="cedula" id="cedula">
                        </div>
                        <div class="input_container">
                            <i class="fa-solid fa-envelope icon"></i>
                            <input type="text" placeholder="Correo electrónico" name="email" id="email">
                        </div>
                        <div class="input_container">
                            <i class="fa-solid fa-phone icon"></i>
                            <input type="text" placeholder="Número celular" name="celular" id="celular">
                        </div>
                        <div class="input_container">
                            <i class="fa-solid fa-map icon" ></i>
                            <input type="text" placeholder="Dirección" name="direccion" id="direccion">
                        </div>
                        <div class="input_container">
                            <i class="fa-solid fa-map-location icon"></i>
                            <input type="text" placeholder="Complemento (Barrio, apto, bloque, entrada, etc.)" name="complemento" id="complemento">
                        </div>
                        <div class="input_container">
                            <i class="fa-solid fa-key icon"></i>
                            <input type="password" placeholder="Contraseña" name="contrasena" id="contrasena">
                        </div>
                        <div class="input_container">
                            <i class="fa-solid fa-key icon"></i>
                            <input type="password" placeholder="Confirme su contraseña" name="conf_contrasena" id="conf_contrasena">
                        </div>
                        <div>
                            <input type="submit" value="Regístrate" class="button">
                            <p>Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad.</p>
                            <p>¿Ya tienes una cuenta? <a href="/login" class="link_login">Inicia Sesión</a></p>
                        </div>
                        
                    </div>
                </form>
            </div>
        </section>
        <div class="imagen">
            <figure>
                <img src="../static/img/DONA.jpg" alt="Imagen principal">
            </figure>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/registro.js')}}"></script>    
</body>
</html>