<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revision de comentarios</title>
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href={{ url_for('static', filename='css/estiloRevisionComentarios.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
</head>
<body>
    <header>
        <div class="barraNaranja">
            <div class="titulo">
                <h1>REVISION COMENTARIOS</h1>
            </div>
        </div>
    
    </header>

    <section>
        <div id="fondo">
            <div class="general">
                    <table>
                        <thead>
                            <tr>
                                <td>FECHA</td>
                                <td>PRODUCTO</td>
                                <td>COMENTARIO</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comentario in comentarios %}
                            <tr>
                                <td>{{ comentario.0 }}</td>
                                <td>{{ comentario.1 }}</td>
                                <td>{{ comentario.2 }}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>

            </div>
        </div>
        
    </section>

    <footer>
        <div class="footer">
            <p>Grupo 17 Equipo 4 - Universidad del Norte</p>
        </div>
    </footer>
</body>
</html>