<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revision de comentarios</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/estiloRevisionComentarios.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/icon/fontsAwesome/css/all.css') }}>
</head>
<body>
    <header>
        <div class="barraNaranja">
            <div class="titulo">
                <h1>REVISION COMENTARIOS</h1>
            </div>
        </div>
    
        <div class="blanca1">
            <label for="numeroPedido">Producto</label>
            <input type="text">
            <div class="lupa">
                <button>
                    <i class="fas fa-search"></i> Buscar
                </button>
            </div>
        </div>
    
        <div class="blanca2">
            <input type="date" name="inicio" id="finicio">
            <input type="date" name="fin" id="ffin">
        </div>
    </header>

    <section>
        <div class="barra">
            <h2 id="f">FECHA</h2>
            <h2 id="p">PRODUCTO</h2>
            <h2 id="c">COMENTARIO</h2>
        </div>
        <div id="fondo">
            <div class="general">
                    <h1>nvjalesnvjud</h1>

            </div>
        </div>
        
    </section>

    <footer>
        <p><span>Grupo 17 equipo 4 Univesidad del norte</span></p>
    </footer>
</body>
</html>