<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Perfil Usuario</title>
        
        <link rel="stylesheet" href="/static/css/style_super_admin.css">
       
    </head>
    <body id="cuerpo">

        <!--Parte Superior-->
        <header id="encabezado">
            <div id="DIV_CUENTA">
                <h1 id="T_mi_cuenta">REGISTRO ADMIN</h1>
            </div>
            <br>
            <br>
            
        </header>

        {% with mensajes= get_flashed_messages() %}
        {% if mensajes %}
        {% for mensaje in mensajes %}
            <p>{{ mensaje }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        

        <!--Creacion Formato para visualizar y para editar la informacion del Usuario-->
        
        <form action="/cambios_super" id="cuerpo" method="POST">
            <div id="columna1">
                <label for="Nombre">Nombre:
                    <input type="text" id="Nombre" placeholder="Pepito" name="Nombre" autocomplete="name" required>
                </label>
                <br>
                <br>
                <label for="Cedula">
                    <span>Cedula:</span>
                    <input type="text" id="Cedula" placeholder="000058126" name="Cedula" required>
                </label>

                <label for="Email">
                    <span>Email:</span>
                    <input type="email" id="Email" placeholder="rperez844284611@prueba.com" name="Email" autocomplete="email" required>
                </label>
                <br>
                <br>
                <label for="direccion">
                    <span>Dirección:</span>
                    <input type="text" id="direccion" placeholder="Calle libertad12385 Carrera 84513" name="direccion" autocomplete="address-level1" required>
                </label>
                <br>
                <br>
                <label for="contraseña">
                    <span>Contraseña</span>
                    <input type="password" id="contraseña" name="contraseña">
                </label>
            </div>

            <div id="columna2">
                <label for="Apellido">
                    <span>Apellido:</span>
                    <input type="text" id="Apellido" placeholder="Perez" name="Apellido" required>
                </label>
                <br>
                <br>
                <label for="nickname">
                    <span>Nickname</span>
                    <input type="text" id="nickname" placeholder="Raton_Perez65" name="nickname" required>
                </label>
                <br>
                <br>
                <label for="celular">
                    <span>Celular:</span>
                    <input type="text" id="celular" placeholder="000058916" name="celular" required>
                </label>
                <br>
                <br>
                <label for="especificaciones">
                    <span>Especificaciones</span>
                    <input type="text" id="Especificaciones" placeholder="Casa de color magenta, con puertas blancas" name="Especificaciones" size="50px" required>
                </label>
                <br>
                <br>
                <label for="confirm_contraseña">
                    <span>Confirmar Contraseña</span>
                    <input type="password" id="confirm_contraseña" name="confirm_contraseña">
                </label>
            </div>
            <button type="button" onclick="super_admin()">Verificar</button>
            <div style="margin:0 auto; width: 55%; float: right;" >
                <button type="submit" id="Boton_guardar_cambios">Guardar Información</button>
            </div>
            <script src="/static/js/super_admin.js"></script>
        </form>
        <br>
        <br>
        <!--Parte Inferior-->
        
        
        <footer id="PARTE_INFERIOR">
            <form action="/eliminar_admin" method="POST">
                <div id="eliminar_admin">
                    <h1>Eliminar Administrador</h1>
                    <label for="cedula">
                        <span>Cedula:</span>
                        <input type="text" id="cedula_admin" placeholder="000058916" name="cedula_admin" required>
                    </label>
                    <button type="submit" id="eliminar">Eliminar</button>
            </form>
            <div class="footer">
                <p>Grupo 17 Equipo 4 - Universidad del Norte</p>
            </div>
        <section>
            <button>
                <a href="/admin">VISTA ADMINISTRADOR</a>
            </button>
            <button>
                <a href="/home2">VISTA USUARIO</a>
            </button>
        </section>
        </footer>
    </body>
</html>